* {box-sizing: border-box}

.super-container {
  width: 100%;
  height: 100%;
}

.super-container .paralax-background {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.super-container .paralax-background h2 {
  color: white;
  margin-top: 7.6rem;
}

.register {
  padding: 5rem 0;
}

/* Add padding to containers */
.container {
  padding: 16px;
  min-height: 100vh;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #abc867;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.register .form-container .login-section {
  display: flex;
  height: 60px;
  background-color: #f1f1f1;
  align-items: center;
  justify-content: center;
}

.register .form-container .login-section p {
  margin: 0;
}

.register .form-container .login-section a {
  text-decoration: none;
  color: black;
}

.register .form-container .login-section:hover a {
  color: #abc867;
}