html {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100%;
}

.navbar-head {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	font-size: 1.1em;
	align-items: center;
	justify-content: center;
	padding-top: 0;
	height: 4em;
	box-shadow: 1px 1px 10px lightgray;
	transition: 0.5s;
	transition-delay: 0.5s;
	z-index: 2;
}

.navbar-head .collapse.navbar-collapse {
	height: 4rem;
	transition: 0.5s;
	transition-delay: 0.5s;
}

.navbar-head .container-fluid {
	padding: 0;
}

.navbar-head .navbar-brand {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0 8rem 0 20px;
}

.navbar-head .nav-item {
	width: auto;
	height: 75px;
	padding: 0 1rem 0 0;
}

.navbar-head .nav-item .navbar-link {
	display: block;
	width: 100%;
	height: 94%;
	text-align: center;
	color: black;
	padding: 1.2rem 1rem 0.5rem 1rem;
	margin-top: 0.4rem;
	text-decoration: none;
	transition: 0.3s;
}

.navbar-head .nav-item .navbar-link:hover {
	color: white;
	background-color: #adc867;
}

.navbar-head .nav-item .navbar-link.active {
	color: white;
	background-color: #adc867;
}


.navbar-head .navbar-submit {
	margin-left: auto;
	padding: none;
	width: 280px;
	height: 78px;
	background-color: #adc867;
}

.navbar-head .navbar-submit .btn-submit {
	display: inline-block;
	width: 100%;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
	font-size: 1.1em;
	color: white;
	padding: 1.6rem 1rem;
}

.navbar-head .navbar-toggler {
	color: black;
	margin-right: 20px;
	border: none;
	box-shadow: none;
}

@media (max-width: 992px) {
	.navbar-head.show {
		height: auto;
		opacity: 1;
		transition-delay: 0.5s;
	}
	.navbar-head.show .collapse.navbar-collapse.show {
		height: auto;
		opacity: 1;
		transition-delay: 0,5s;	
	}
	.navbar-head .navbar-submit {
		display: none;
	}
}