html {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100%;
}

.first-navbar {
	position: fixed;
	top: 0;
	display: flex;
	z-index: 3;
	align-items: center;
	justify-content: flex-start;
	background-color: #55407d;
	width: 100%;
	height: 60px;
	transition: top 500ms;
}

.nav-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.first-navbar .links-section {
	width: 100%;
	height: 100%;
}

.first-navbar .links-section ul {
	display: flex;
	width: 100%;
}

.first-navbar .links-section ul li {
	width: auto;
	font-size: 11px;
	padding-top: 18px;
}

.first-navbar .social-section {
	margin-right: 30px;
}

.first-navbar .social-section ul {
	display: flex;
	padding: 0;
	/*flex-wrap: wrap;*/
}

.first-navbar .social-section ul li {
	border-radius: 30px;
	background-color: #adc867;
	display: flex;
	color: white;
	width: 34px !important;
	height: 34px !important;
	text-align: center;
	align-items: center;
	margin: 17px 10px 0;
	justify-content: center;
	transition: 0.5s;
	cursor: pointer;
}

.first-navbar .account-section {
	font-weight: 500;
	font-size: 15px;
	padding-right: 30px;
	color: white;
}

.first-navbar .account-section a {
	color: white;
	text-decoration: none;
	padding: 0 7px;
}

.second-navbar {
	position: fixed;
	display: flex;
	background-color: white;
	z-index: 3;
	width: 100%;
	height: 65px;
	top: 60px;
	box-shadow: 1px 20px 10px -20px lightgray;
	transition: top 500ms;
}

.second-navbar .logo {
	font-weight: 500;
	font-size: 26px;
	color: white;
	margin-left: 25px;
	margin-right: 40px;
	margin-bottom: 4px;
	text-decoration: none;
}

.second-navbar .links-section {
	width: 100%;
	height: 100%;
}

.second-navbar .links-section ul {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.second-navbar .links-section ul li {
	width: auto;
	padding: 0;
}

.second-navbar .links-section ul .nav-link {
	width: auto;
	height: 65px;
	color: black;
	text-decoration: none;
	padding: 20px 20px;
	margin: 0 8px;
	transition: 0.2s;
}

.second-navbar .links-section ul .nav-link.active {
	color: white;
	background-color: #adc867;
}

.second-navbar .links-section ul .nav-link:hover {
	color: white;
	background-color: #adc867;
}

.second-navbar .nav-submit {
	background-color: #adc867;
	height: 100%;
	width: 340px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.second-navbar .nav-submit a {
	color: white;
	text-decoration: none;
	font-weight: 500;
}

.second-navbar .hum-button {
	display: none;
}
