.super-container {
	width: 100%;
	height: 100%;
}

.super-container .paralax-background {
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.super-container .paralax-background h2 {
	color: white;
	margin-top: 7.6rem;
}

.intro .container {
	position: relative;
	padding: 8rem 0;
}

.subtitle-section {
	color: #bdc4d4;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1.5px;
}

.title-section h1 {
	font-size: 51px;
	letter-spacing: .5px;
}

.intro .info-section p {
	color: #a2b0bf;
	margin: 3rem 0
}

.intro .submit-section {
	width: 247px;
	height: 61px;
	background-color: #adc867;
	display: flex;
	align-items: center;
	justify-content: center;
}

.intro .submit-section a {
	color: white;
	text-decoration: none;
	font-weight: 500;
}

.intro .col-lg-6 {
	min-height: 375px;
}

.intro .intro-image {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.services {
	background-color: #f3f7fb;
}

.services .container {
	padding: 6rem 0;
}

.services .col {
	text-align: center;
}

.services .services-row {
	margin-top: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.services .col-xl-4.col-md-6 {
	background-color: white;
	margin: 10px 10px;
	padding: 0;
	max-width: 360px;
}

.services .col-xl-4.col-md-6:hover {
	outline: 2px solid #adc867;
	box-shadow: 0 0 20px lightgray;
}

.services .service {
	width: 100%;
	height: 100%;
	padding: 20px 10px;
}

.services .service .title-container {
	display: flex;
	align-items: center;
	margin-bottom: 20px; 
}

.services .service .title-container img {
	margin-right: 20px;
}

.services .service-text {
	color: #a2b0bf;
}

.milestones {
	background-color: #55407d;
	padding: 3rem;
	color: white;
}

.milestones .milestone {
	padding: 20px 0;
}

.milestones .milestone .milestone-counter {
	font-size: 75px;
	font-weight: bold;
}

.milestones .milestone .milestone-text {
	font-weight: 500;
	font-size: 17px;
}

.agents {
	padding: 5rem 0;
}

.agents .agents-row {
	align-items: center;
	justify-content: center;
}

.agents .agent-col {
	width: 350px;
	height: 517px;
	margin: 20px 1% !important;
}

.agents .agent {
	background-color: #f3f7fb;
	width: 350px;
	height: 517px;
}

.agents .agent .agent-image {
	width: 350px;
	height: 254px;
}

.agents .agent .agent-image img {
	width: 100%;
	height: 100%;
}

.agents .agent .agent-content {
	min-width: 350px;
	background-color: #f3f7fb;
	padding: 36px 40px 22px;
}

.agent-content .agent-title-container {
	margin-bottom: 25px;
}

.agent-content .agent-title-container .agent-title a {
	text-decoration: none;
	color: black;
	font-weight: 500;
	transition: 0.2s;
}

.agent-content .agent-title-container .agent-title a:hover {
	color: #adc867;
}

.agent-content .agent-title-container .agent-type {
	color: #adc867;
	font-size: 16px;
	font-weight: 500;
}

.agent-content .contact-container {
	color: #6c7079;
	margin-bottom: 30px;
}

.agent-content .agent-social ul {
	list-style-type: none;
	padding: 0;
}

.agent-content .agent-social ul li {
	background-color: #dbe7f1;
	border-radius: 30px;
	width: 30px;
	height: 30px;
	margin: 0 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.agent-content .agent-social ul li:hover {
	background-color: #adc867;
}

.agent-content .agent-social ul li a {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.col-contact {
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}

.col-contact .contact-button {
	position: relative;
	width: 247px;
	height: 61px;
}

.col-contact .contact-button a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: white;
	background-color: #abc867;
	transition: .2s;
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: 500;
}

.col-contact .contact-button a:hover {
	background-color: #1e1332;
}