.super-container {
	width: 100%;
	height: 100%;
}

.super-container .carousel-container {
	width: 100%;
	height: 43.2rem;
	margin-top: 4.4rem;
	overflow: hidden;
}

.image-container {
	position: absolute;
	padding: 0;
	display: flex;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 43.2rem;
	top: 4.4em;
	right: 100%;
	animation-duration: 1.5s;
	animation-name: slideout;
	overflow: hidden;
	margin-left: 100%;
	transition: margin 1500ms;
}

.image-container.active {
	position: static;
	overflow: hidden;
	display: flex;
	padding: 0;
	width: 100%;
	height: 100%;
	margin-left: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	justify-content: center;
	align-items: center;
	transition: none;
	animation-duration: 1.5s;
	animation-name: slidein;
}

.image-container .home-container {
	position: relative;
	width: 100%;
	height: 13rem;
	top: -5rem;;
}

.image-container.active .home-container {
	position: relative;
	width: 100%;
	height: 13rem;
	top: -5rem;
}

.image-container.active .home-container .home-content {
	color: white;
	width: 26rem;
	margin-left: 13rem;
	padding: 20px 0 20px 0;
	height: 100%;
	background-color: rgb(30, 19, 50);
}

.image-container .home-container .home-content {
	color: white;
	width: 26rem;
	margin-left: 13rem;
	padding: 20px 0 20px 0;
	height: 100%;
	background-color: rgb(30, 19, 50);
}

.image-container .home-container .home-content h2 {
	margin: 2px 50px;
}

.image-container .home-container .home-content p {
	background-color: #adc867;
	width: 6rem;
	font-size: 20px;
	text-align: center;
	padding: 5px 10px;
	margin: 20px 50px;
}

.next {
	position: absolute;
	z-index: 1;
	right: 40px;
	top: 24rem;
	background-color: #adc867; 
	width: 57px;
	height: 57px;
	border: none;
	outline: none;
	border-radius: 30px;
	transition: 0.4s;
}

.next:hover {
	background-color: rgb(30, 19, 50);
}

.next::before {
	content: '';
	position: absolute;
	color: black;
	border-top: 3px solid white;
	border-right: 3px solid white;
	transform: rotate(45deg);
	top: 23px;
	left: 22px;
	width: 10px;
	height: 10px;
}

.super-container .search-container {
	position: absolute;
	top: 30rem;
	left: 13rem;
	width: 61rem;
	margin-bottom: 2.8rem;
}

.search-container .search-title {
	display: block;
	color: white;
	font-size: 3.2rem;
	letter-spacing: 2px;
	width: 425px;
	height: 4.1rem;
	margin: 0;
	text-align: center;	
	vertical-align: middle;
	background-color: #adc867;
}

.search-container form {
	padding: 1rem;
	background-color: rgba(85,64,125,.67);
}

.search-container .search-item {
	color: black;
	outline: none;
	border: none;
	padding: 0 1rem;
	margin: 0 0.2rem;
	width: 14rem;
	height: 3.3rem;
}

.search-container .search-item::placeholder {
	color: black;
	font-size: 1.06rem;
}

.search-container .btn-submit {
	border: none;
	color: white;
	background-color: #adc867;
	margin: 0 0.2rem;
	width: 14rem;
	height: 3.3rem;
}

.search-container .btn-submit span{
	font-size: 1.1rem;
}

@media (max-width: 1191px) {
	.super-container .search-container {
		position: absolute;
		width: 26.54rem !important;
	}

	.super-container .search-container .search-title {
		margin-left: 0rem;
	}

	.super-container .search-container .search-item {
		margin: 5px 10px 5px 0;
		width: 100%;
	}

	.super-container .search-container .btn-submit{
		margin-top: 5px;
		margin-left: 0px;
		width: 100%;
	}

	.super-container .search-container .search-form {
		display: flex;
		margin-left: 0rem;
		flex-wrap: nowrap;
		align-content: space-around;
		justify-content: flex-start;
		flex-direction: column;
	}
}

@media (max-width: 660px) {
	.super-container .search-container {
		position: absolute;
		width: 15.36rem !important;
	}

	.super-container .search-container .search-title {
		margin-left: -11.2rem;
	}

	.super-container .search-container .search-item {
		margin: 5px 10px 5px 0;
		width: 100%;
	}

	.super-container .search-container .btn-submit{
		margin-top: 5px;
		margin-left: 0px;
		width: 100%;
	}

	.super-container .search-container .search-form {
		display: flex;
		margin-left: -11.2rem;
		flex-wrap: nowrap;
		align-content: space-around;
		justify-content: flex-start;
		flex-direction: column;
	}

	.image-container .home-container {
		left: -11.3rem;
	}

	.image-container.active .home-container {
		left: -11.3rem;
	}
}

.super-container .properties-container {
	width: 100%;
	padding-top: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: clip;
}

.super-container .properties-container .row {
	position: relative;
	text-align: center;
}

.subtitle-section h5 {
	font-size: 17px;
	letter-spacing: 2px;
	color: lightgray;
}

.title-section h1 {
	font-size: 50px;
}

.properties-container .row.properties-row {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
	justify-content: center;
	margin: 5rem 0 0 0;
}

.properties-container .col-lg-4 {
	position: relative;
	display: block;
	width: 24.51rem;
	height: 23rem;
	margin: 0 8px 6.5rem 0;
}

.col-lg-4 .listing {
	display: block;
	position: relative;
}

.col-lg-4 .listing .listing-image-container {
	width: 23rem;
	display: block;
	position: relative;
	margin: 0;
}

.col-lg-4 .listing .listing-image-container img {
	width: 100%;
	min-height: 276px;
}

.col-lg-4 .listing-image-container .tag-section {
	position: absolute;
	top: 10px;
	left: 20px;
	margin-top: 8px;
}

.tag-section .tag-item {
	background-color: var(--clr);
	width: 5rem;
	position: relative;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	color: white;
	padding: 8px 20px 8px 20px;
	margin-right: 10px;
}

.col-lg-4 .listing .tag-price {
	position: absolute;
	top: 16.08rem;
	left: 2.4rem;
	padding: 6px 23px;
	background-color: #ff006c;
	color: white;
}

.col-lg-4 .listing .prop-location {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f3f7fb;
	width: 100%;
	height: 6rem;
}

.col-lg-4 .listing .prop-location .prop-location-link {
	text-decoration: none;
	color: black;
	font-size: 18px;
	font-weight: 500;
	transition: 0.2s
}

.col-lg-4 .listing .prop-location .prop-location-link:hover {
	color: #adc867;
}

.col-lg-4 .listing .listing-info {
	background: #f3f7fb;
	margin-top: 2px;
	width: 100%;
	height: 4.2rem;

}

.col-lg-4 .listing .listing-info .listing-items {
	list-style-type: none;
	display: flex;
	font-size: 13px;
	font-weight: 700;
    padding: 1.3rem 0;
    margin: 0;
	flex-direction: row;
    justify-content: center;
}

.col-lg-4 .listing .listing-info .listing-items .listing-item {
	color: #6c7079;
	padding: 0 8px;
}

@media (max-width: 830px) {
	.properties-container .col-lg-4 {
		width: 45rem;
		height: 30rem;
		margin-bottom: 17rem;
	}

	.col-lg-4 .listing .listing-image-container {
		width: 43.5rem;
	}

	.col-lg-4 .listing .tag-price {
		top: 31.5rem;
	}

	.col-lg-4 .listing .listing-image-container img {
		min-height: 521px;
	}
}

.testimonials-container {
	width: 100%;
	height: 100%;
	margin-top: 5rem;
}

.testimonials-container .row.row-eq-height {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
}

.row.row-eq-height .col-xl-6 {
	position: relative;
	width: 50%;
	height: 100%;
	padding: 0;
}

.col-xl-6 .testimonials-img-container {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.col-xl-6 .image-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right,transparent 50%,#f1f6fc);
}

.col-xl-6 .testimonials-content {
	width: 100%;
	height: 100%;
	background: #f3f7fb;
}

@keyframes slidein {
	0% {
		margin-left: 100%;
	}

	100% {
		margin-left: 0;
	}
}

@keyframes slideout {
	0% {
		right: 0;
	}

	100% {
		right: 100%;
	}
}