.super-container {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.super-container .paralax-background {
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.super-container .paralax-background h2 {
	color: white;
	margin-top: 7.6rem;
}

.listing-add {
	padding: 5rem 0;
}

.listing-add .col {
	padding: 0;
}

.listing-add-container {
	padding: 0 !important;
}

.form-container .estate-form {
	display: flex;
	flex-direction: column;
}

.form-container .estate-form label {
	color: #6c7079;
	font-weight: 500;
	font-size: 16px;
}

.form-container .estate-form .listing-text input {
	width: 300px;
	height: 51px;
}

.form-container .estate-form .listing-choice select {
	width: 300px;
	height: 51px;
}

.form-container .estate-form .listing-media input {
	display: none;
}

.form-container .estate-form .listing-media img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.form-container .estate-form .listing-image-label {
	position: relative;
	display: flex;
	cursor: pointer;
	width: 20rem;
	height: 10rem;
	margin-top: 20px;
	align-items: center;
	justify-content: center;
	border: 2px solid #dbe7f1;
}

.form-container .estate-form .listing-image-label:hover {
	border: 3px solid #adc867;
	box-shadow: 0px 0px 20px lightgray;
}

.form-container .estate-form .listing-image-label .label-icon {
	color: #6c7079;
}

.form-container .estate-form .listing-textarea textarea {
	width: 100%;
	height: 300px;
	resize: none;
}

.form-container .estate-form .textarea-col {
	width: 100%;
}

.form-container .estate-form .form-submit {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-container .estate-form .form-submit button {
	width: 300px;
	height: 60px;
	margin-top: 20px;
	background: #adc867;
	border: none;
	color: white;
	margin-right: 10px;
}

.form-container .estate-form .form-submit a {
	width: 300px;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	margin-top: 20px;
	background: #adc867;
	border: none;
	color: white;
	margin-right: 10px;
}

.form-container .estate-form .form-submit button:focus {
	border: 3px solid white;
}

.form-container .form-row {
	padding: 0;
}

.form-container .estate-form input {
	width: 300px;
	height: 51px;
}

.form-container .estate-form .checkbox-input {
	width: auto;
	height: auto;
}