{% extends "_base.html" %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'users/css/login.css' %}">{% endblock css %}


{% block content %}
<form action="" method="POST">
	<div class="container">
	  <h1>Login</h1>
	  <hr>
	  {% csrf_token %}
	  {% if form.errors %}
	  	<p>{{form.errors}}</p>
	  {% endif %}
	  <label for="login"><b>Login:</b></label>
	  {{form.username}}
	  <label for="psw"><b>Password</b></label>
	  {{form.password}}  	  
	  <hr>
  
	  <button type="submit" class="registerbtn">Login</button>
	</div>
  
	<div class="container signin">
		<a href="{% url 'register_page' %}">Sign up</a>
	</div>
</form>
{% endblock content %}