{% extends "_base.html" %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">{% endblock css %}


{% block content %}
	<div class="super-container">
		<div class="paralax-background" style="background-image: url({% static 'images/flat1.jpg' %})">
			<h2>Registration</h2>
		</div>
		<div class="register">
			<div class="container">
				<div class="col">
					<div class="form-container">
						<form action="" method="POST">
							  {% csrf_token %}
							  {% if form.errors %}
							  	<p>{{form.errors}}</p>
							  {% endif %}
							  {% comment %} {% if profile.errors %}
							  	<p>{{profile.errors}}</p>
							  {% endif %} {% endcomment %}
							  <label for="first_name"><b>First Name</b></label>
							  {{form.first_name}}
							  <label for="last_name"><b>Last Name</b></label>
							  {{form.last_name}}
							  <label for="birth_date"><b>Birth Date</b></label>
							  {{form.birth_date}}
							  <label for="username"><b>Username</b></label>
							  {{form.username}}
							  <label for="email"><b>Email</b></label>
							  {{form.email}}
							  <label for="phone_number"><b>Phone Number</b></label>
							  {{form.phone_number}}  
							  <label for="psw"><b>Password</b></label>
							  {{form.password1}}  
							  <label for="psw-repeat"><b>Repeat Password</b></label>
							  {{form.password2}}	  
							  <hr>
						  
							  <button type="submit" class="registerbtn">Register</button>
						  
							<div class="login-section">
							  <p>Already have an account? <a href="{% url 'login_page' %}">Sign in</a>.</p>
							</div>
						</form>
					</div>
				</div>	
			</div>
		</div>
	</div>

{% endblock content %}