{% extends "_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Listings {% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'estates/css/listings.css' %}">{% endblock css %}

{% block content %}

	<div class="super-container">
		<div class="paralax-background" style="background-image: url({% static 'images/flat1.jpg' %})">
			<h2>Listings</h2>
		</div>
		<div class="search">
			<div class="container">
			<form  action="" method="GET">
				<div class="row">
					<div class="col">
						<div class="search-container">
							<div class="search-form">
								{% render_field f.form.estate_type class="listing-input" placeholder="Property type" %}
								{% render_field f.form.bedrooms class="listing-input" type='text' %}
								{% render_field f.form.location class="listing-input" type='text' %}
								<button class="listing-btn" type="submit" name="submit">ПОИСК</button>
							</div>
							{% comment %} <div class="search-buttons">
								<div class="search-button" style="--clr: #55407d;"><a href="#">Detailed Search</a></div>
								<div class="search-button" style="--clr: #adc867;"><a href="#">Show Map</a></div>
							</div> {% endcomment %}
						</div>
					</div>
				</div>
				<div class="row justify-content-between d-flex">
					<div class="col">
						<div class="listing-tags">
							<label for="id_tags"></label>  
      						{% render_field f.form.tags class="d-flex flex-row align-items-start justify-content-start flex-wrap" %}
						</div>
					</div>
					<div class="col"> 
						<div class="sorting ">
							<div class="sorting-container">
								<div id="actual-btn" class="sort">Sort By</div>
									<ul id="sort-ul" data-condition="off">
										<select name="sort" id="id_sort_by">
											<option id="sort-li" value="-posted_on" type="submit" class="sorting-button">Posted_on</option>
											<option id="sort-li" value="price" class="sorting-button">Price</option>
											<option id="sort-li" value="area" class="sorting-button">Area</option>
										</select>
									</ul>	
								</div>
							</div>
						</div>
					</div>
				</div>	
			</form>

			</div>
		</div>
		<div class="listings">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="listing-container">
							<div class="listing-box">
								<div class="row listings-row mt-5">
									{% for estate in f.qs %}
										<div class="col-lg-4">
											<div class="listing">
												<div class="listing-image-container">
    												
        											{% if estate.images.first %}
													 <a href="{% url 'listing_detail' estate.id %}" ><img src="{{estate.images.first.file.url}}"></a>
       												 
        												 {% else %}
													 <a href="{% url 'listing_detail' estate.id %}" ><img src="{% static 'images/house-icon.svg' %}" alt=""></a>	 
       												 
       												{% endif  %}
													  
    												<div class="tag-section">
        												<a href="#" class="tag-item" style="--clr: #adc867;">{{estate.get_estate_type_display|upper}}</a>
        												<a href="#" class="tag-item" style="--clr: #55407d;">FOR SALE</a>
    												</div>
												</div>
												<div class="tag-price">$ {{estate.price}}</div>
												<div class="prop-location">
													<iframe src="{% static 'images/icons/geo.svg' %}" width="20px" height="20px"></iframe>
													<a href="#" class="prop-location-link">{{estate.get_location_display}}</a>
												</div>
												<div class="listing-info">
													<ul class="listing-items">
														<li class="listing-item"><img src="{% static 'images/icons/area.png' %}"> {{estate.area}} sq ft</li>
														<li class="listing-item"><img src="{% static 'images/icons/bath.webp' %}"> {{estate.details.bathrooms}}</li>
														<li class="listing-item"><img src="{% static 'images/icons/bed.webp' %}"> {{estate.details.bedrooms}}</li>
														{% if estate.details.garages %}
															<li class="listing-item"><img src="{% static 'images/icons/garage.webp' %}">{{estate.details.garages}}</li>
														{% endif %}
													</ul>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% block javascript %}<script src="{% static 'estates/js/listings.js' %}"></script>{% endblock javascript %}
{% endblock content %}	
							
							

								
									
									