{% extends '_base.html' %}
{% load static %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'estates/css/index.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl-carousel/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl-carousel/owl.theme.default.min.css' %}">
{% endblock css %}

{% block content %}
	<div class="super-container">
		<div class="carousel-container">
			<button id="next" class="next"></button>
			{% for estate in estates %}
				<div class="image-container" style="background-image: url({{estate.photo.url}})">
					<div class="home-container">
						<div class="home-content">
							<h2>{{estate.title}}</h2>
							<h2>{{estate.get_location_display}}</h2>
							<p>$ {{estate.price}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="search-container">
			<h1 class="search-title">Find your home</h1>
			<form class="search-form">
				<input class="search-item" type="text" name="" placeholder="Property type">
				<input class="search-item" type="text" name="" placeholder="No rooms">
				<input class="search-item" type="text" name="" placeholder="Location">
				<button type="button" class="btn-submit"><span>SUBMIT LISTING</span></button>
			</form>
		</div>
		<div class="properties-container">
			<div class="row">
				<div class="subtitle-section">
					<h5>LAST DEALS</h5>
				</div>
				<div class="title-section">
					<h1>Featured Properties</h1>
				</div>
				<div class="row properties-row">
					{% for estate in estates %}
						<div class="col-lg-4">
							<div class="listing">
								<div class="listing-image-container">
									<img src="{{estate.photo.url}}">
									<div class="tag-section">
										<a href="#" class="tag-item" style="--clr: #adc867;">{{estate.get_estate_type_display|upper}}</a>
										<a href="#" class="tag-item" style="--clr: #55407d;">FOR SALE</a>
									</div>
								</div>
								<div class="tag-price">$ {{estate.price}}</div>
								<div class="prop-location">
									<iframe src="{% static 'images/icons/geo.svg' %}" width="20px" height="20px"></iframe>
									<a href="#" class="prop-location-link">{{estate.get_location_display}}</a>
								</div>
								<div class="listing-info">
									<ul class="listing-items">
										<li class="listing-item"><img src="{% static 'images/icons/area.png' %}"> {{estate.area}} sq ft</li>
										<li class="listing-item"><img src="{% static 'images/icons/bath.webp' %}"> {{estate.details.bathrooms}}</li>
										<li class="listing-item"><img src="{% static 'images/icons/bed.webp' %}"> {{estate.details.bedrooms}}</li>
										<li class="listing-item"><img src="{% static 'images/icons/garage.webp' %}"> {{estate.details.garages}}</li>
									</ul>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="testimonials-container">
			<div class="row row-eq-height">
				<div class="col-xl-6">
					<div class="testimonials-img-container" style="background-image: url({% static 'images/family.webp' %})"></div>
					<div class="image-overlay"></div>
				</div>
				<div class="col-xl-6 content">
					<div class="testimonials-content">
						<div class="subtitle-section">
							<h5>THE BEST DEALS</h5>
						</div>
						<div class="title-section">
							<h1>Clients testimonials</h1>
						</div>
						<div class="container mt-5 md-5 testimonials-carousel" style="padding: 0">
							<div id="owl1" class="owl-carousel owl-theme">
								<div class="item">
									<div class="test-item">
										<div class="test-quote">"They helped us find our home"</div>
										<div class="test-text">Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Veritatis fugit veniam tenetur velit reprehenderit voluptatum illo sed facilis corporis exercitationem commodi, voluptatibus quidem, perspiciatis, doloribus ut neque praesentium perferendis explicabo.</div>
										<div class="test-author"><span class="author">Cristinne Smith</span><span class="author-type">, Client</span></div>
									</div>
								</div>
								<div class="item">
									<div class="test-item">
										<div class="test-quote">"They helped us find our home"</div>
										<div class="test-text">Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Veritatis fugit veniam tenetur velit reprehenderit voluptatum illo sed facilis corporis exercitationem commodi, voluptatibus quidem, perspiciatis, doloribus ut neque praesentium perferendis explicabo.</div>
										<div class="test-author"><span class="author">Cristinne Smith</span><span class="author-type">, Client</span></div>
									</div>
								</div>
								<div class="item">
									<div class="test-item">
										<div class="test-quote">"They helped us find our home"</div>
										<div class="test-text">Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Veritatis fugit veniam tenetur velit reprehenderit voluptatum illo sed facilis corporis exercitationem commodi, voluptatibus quidem, perspiciatis, doloribus ut neque praesentium perferendis explicabo.</div>
										<div class="test-author"><span class="author">Cristinne Smith</span><span class="author-type">, Client</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
{% endblock content %}
{% block javascript %}
	<script src="{% static 'estates/js/index.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'estates/js/owl#1.js' %}"></script>
{% endblock javascript %}